In [12]:
import pandas as pd

In [13]:
df = pd.read_csv(r"C:\Users\neman\Documents\sales_data_analysis\data\Furniture.csv")

In [14]:
df.columns = df.columns.str.strip()

In [16]:
df['Profit_Status'] = df['revenue'].apply(lambda x: 'Loss' if x < 0 else 'Profit')

In [17]:
df['season'] = df['season'].str.capitalize().str.strip()

In [18]:
df['category'] = df['category'].str.title().str.strip()

In [19]:
numeric_cols = ['price', 'cost', 'sales', 'inventory', 'revenue', 'delivery_days']
df[numeric_cols] = df[numeric_cols].apply(pd.to_numeric, errors='coerce')

In [22]:
df.to_csv(r"C:\Users\neman\Documents\sales_data_analysis\/data/Furniture_cleaned.csv", index=False)
print("✅ Cleaned dataset saved successfully.")

✅ Cleaned dataset saved successfully.

All data cleaning steps were done via Excel Power Query and verified here for reproducibility.

Week 2

In [1]:
import pandas as pd
import os

df = pd.read_csv(r"C:\Users\neman\Documents\sales_data_analysis\data\Cleaned_Data_Furniture_With_New_Columns.csv")

In [2]:
os.makedirs("data", exist_ok=True)

In [3]:
print("Duplicate rows before:", df.duplicated().sum())
df = df.drop_duplicates()
print("Duplicate rows after:", df.duplicated().sum())

Duplicate rows before: 0
Duplicate rows after: 0

In [4]:
print("Negative prices:", (df['price'] < 0).sum())
print("Negative inventory:", (df['inventory'] < 0).sum())
df['price'] = df['price'].apply(lambda x: x if x >=0 else 0)
df['inventory'] = df['inventory'].apply(lambda x: x if x >=0 else 0)

Negative prices: 0
Negative inventory: 0

In [5]:
print("\nMissing values per column:")
print(df.isnull().sum())

Missing values per column:
price                     0
cost                      0
sales                     0
profit_margin             0
inventory                 0
discount_percentage       0
delivery_days             0
category                  0
material                  0
color                     0
location                  0
season                    0
store_type                0
brand                     0
revenue                   0
Profit                    0
Profit_Status             0
Profit_Margin_%           0
Revenue_per_Sale          0
Revenue_per_Inventory    21
Unit_Cost                 0
Is_High_Value             0
Price_Category            0
dtype: int64

In [6]:
new_cols = ['Profit','Profit_Margin_%','Revenue_per_Sale','Revenue_per_Inventory','Unit_Cost','Is_High_Value','Price_Category']

for c in new_cols:
    if c in df.columns:
        print(f"\n--- {c} overview ---")
        print("Non-null count:", df[c].notnull().sum())
        if pd.api.types.is_numeric_dtype(df[c]):
            print(df[c].describe())
        else:
            print(df[c].value_counts(dropna=False).head())
    else:
        print(f"\n!!! Column missing: {c}")

--- Profit overview ---
Non-null count: 2500
count     2500.000000
mean      5734.923550
std       6867.788553
min     -14352.849380
25%       1079.159091
50%       5313.006528
75%      10027.743640
max      32645.706190
Name: Profit, dtype: float64

--- Profit_Margin_% overview ---
Non-null count: 2500
count    2500.000000
mean      100.486575
std       179.230367
min     -2964.156746
25%        96.306172
50%        97.965879
75%        99.062840
max      8349.465856
Name: Profit_Margin_%, dtype: float64

--- Revenue_per_Sale overview ---
Non-null count: 2500
count     2500.000000
mean       213.617775
std        972.747762
min     -14214.565510
25%         56.827339
50%        231.883520
75%        422.918267
max      11408.746550
Name: Revenue_per_Sale, dtype: float64

--- Revenue_per_Inventory overview ---
Non-null count: 2479
count     2479.000000
mean       186.742145
std        991.898581
min      -6599.225594
25%         11.095223
50%         56.804525
75%        133.612930
max      23822.889930
Name: Revenue_per_Inventory, dtype: float64

--- Unit_Cost overview ---
Non-null count: 2500
count    2500.000000
mean       16.748037
std        32.074646
min         0.642023
25%         4.331610
50%         7.681042
75%        14.630589
max       389.411199
Name: Unit_Cost, dtype: float64

--- Is_High_Value overview ---
Non-null count: 2500
Is_High_Value
Yes    1904
No      596
Name: count, dtype: int64

--- Price_Category overview ---
Non-null count: 2500
Price_Category
Medium    1649
High       558
Low        293
Name: count, dtype: int64

In [7]:
empty_rows = df[df['Revenue_per_Inventory'].isnull()]
print(empty_rows[['revenue','inventory','Revenue_per_Inventory']])

           revenue  inventory  Revenue_per_Inventory
67    12716.512330          0                    NaN
255     798.483661          0                    NaN
279    3075.262282          0                    NaN
334    2850.460710          0                    NaN
691   -7434.525164          0                    NaN
708    2580.279892          0                    NaN
918   12392.287790          0                    NaN
1009   2146.006677          0                    NaN
1050  22780.258470          0                    NaN
1076   3736.171505          0                    NaN
1261   6603.142928          0                    NaN
1296   4243.488859          0                    NaN
1529    188.342557          0                    NaN
1670   8297.875774          0                    NaN
1735  16096.650710          0                    NaN
1848   4620.472283          0                    NaN
1920  22784.486420          0                    NaN
2035 -11683.646590          0                    NaN
2037   3015.876924          0                    NaN
2245  12671.720900          0                    NaN
2492  10644.485660          0                    NaN

In [8]:
missing_rows = df[df['Revenue_per_Inventory'].isnull()]
print("Before filling missing values:")
print(missing_rows[['revenue','inventory','Revenue_per_Inventory']])

Before filling missing values:
           revenue  inventory  Revenue_per_Inventory
67    12716.512330          0                    NaN
255     798.483661          0                    NaN
279    3075.262282          0                    NaN
334    2850.460710          0                    NaN
691   -7434.525164          0                    NaN
708    2580.279892          0                    NaN
918   12392.287790          0                    NaN
1009   2146.006677          0                    NaN
1050  22780.258470          0                    NaN
1076   3736.171505          0                    NaN
1261   6603.142928          0                    NaN
1296   4243.488859          0                    NaN
1529    188.342557          0                    NaN
1670   8297.875774          0                    NaN
1735  16096.650710          0                    NaN
1848   4620.472283          0                    NaN
1920  22784.486420          0                    NaN
2035 -11683.646590          0                    NaN
2037   3015.876924          0                    NaN
2245  12671.720900          0                    NaN
2492  10644.485660          0                    NaN

In [9]:
# Calculate median ignoring NaNs
median_value = df['Revenue_per_Inventory'].median()

In [10]:
df['Revenue_per_Inventory'] = df['Revenue_per_Inventory'].fillna(median_value)

In [ ]:
filled_rows = df.iloc[missing_rows.index]  
print("\nAfter filling missing values:")
print(filled_rows[['revenue','inventory','Revenue_per_Inventory']])

After filling missing values:
           revenue  inventory  Revenue_per_Inventory
67    12716.512330          0              56.804525
255     798.483661          0              56.804525
279    3075.262282          0              56.804525
334    2850.460710          0              56.804525
691   -7434.525164          0              56.804525
708    2580.279892          0              56.804525
918   12392.287790          0              56.804525
1009   2146.006677          0              56.804525
1050  22780.258470          0              56.804525
1076   3736.171505          0              56.804525
1261   6603.142928          0              56.804525
1296   4243.488859          0              56.804525
1529    188.342557          0              56.804525
1670   8297.875774          0              56.804525
1735  16096.650710          0              56.804525
1848   4620.472283          0              56.804525
1920  22784.486420          0              56.804525
2035 -11683.646590          0              56.804525
2037   3015.876924          0              56.804525
2245  12671.720900          0              56.804525
2492  10644.485660          0              56.804525

In [16]:
# 4. Ensure Profit_Status is consistent with Profit
df.loc[df['Profit'] > 0, 'Profit_Status'] = 'Profit'
df.loc[df['Profit'] <= 0, 'Profit_Status'] = 'Loss'

In [19]:
df.to_csv(r"C:\Users\neman\Documents\sales_data_analysis\data\Furniture_cleaned_no_missing_values.csv", index=False)
df.to_excel(r"C:\Users\neman\Documents\sales_data_analysis\excel\Furniture_cleaned_no_missing_values.xlsx", index=False)
print("Cleaned files saved successfully.")

Cleaned files saved successfully.