In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\neman\Documents\sales_data_analysis\data\Furniture_cleaned.csv")

In [3]:
df.head()

,price,cost,sales,profit_margin,inventory,discount_percentage,delivery_days,category,material,color,location,season,store_type,brand,revenue,Profit_Status
0,218.543054,181.610932,40,16.899243,105,27.796433,9,Bed,Plastic,Red,Rural,Spring,Online,BrandA,3949.165238,Profit
1,477.821438,385.033827,7,19.418888,192,26.943715,6,Chair,Glass,Blue,Rural,Summer,Online,BrandD,-3521.002258,Loss
2,379.397274,276.736765,32,27.058842,59,21.948130,2,Table,Metal,Black,Suburban,Fall,Online,BrandD,14285.560220,Profit
3,319.396318,281.841334,48,11.758114,45,11.009944,2,Table,Glass,Green,Rural,Summer,Retail,BrandD,12261.073700,Profit
4,120.208388,69.743681,19,41.981019,35,3.183763,9,Chair,Glass,Brown,Rural,Fall,Online,BrandD,-4588.255733,Loss

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   price                2500 non-null   float64
 1   cost                 2500 non-null   float64
 2   sales                2500 non-null   int64
 3   profit_margin        2500 non-null   float64
 4   inventory            2500 non-null   int64
 5   discount_percentage  2500 non-null   float64
 6   delivery_days        2500 non-null   int64
 7   category             2500 non-null   object
 8   material             2500 non-null   object
 9   color                2500 non-null   object
 10  location             2500 non-null   object
 11  season               2500 non-null   object
 12  store_type           2500 non-null   object
 13  brand                2500 non-null   object
 14  revenue              2500 non-null   float64
 15  Profit_Status        2500 non-null   object
dtypes: float64(5), int64(3), object(8)
memory usage: 312.6+ KB

In [5]:
df.describe()

,price,cost,sales,profit_margin,inventory,discount_percentage,delivery_days,revenue
count,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.00000,2500.000000
mean,274.495219,191.930107,24.924000,30.208571,97.715600,14.947616,4.89400,5926.853657
std,130.898452,98.590751,14.050067,11.536804,57.616228,8.621547,2.55902,6902.737604
min,50.704297,26.505895,1.000000,10.017692,0.000000,0.005556,1.00000,-14214.565510
25%,159.104890,106.399135,13.000000,20.230697,50.000000,7.760214,3.00000,1216.719194
50%,277.641809,189.336329,25.000000,30.297911,94.000000,14.915143,5.00000,5523.232713
75%,387.378046,263.188280,37.000000,40.134205,147.000000,22.292661,7.00000,10233.537980
max,499.872953,447.022911,49.000000,49.999535,199.000000,29.991229,9.00000,32922.078830

In [6]:
df['Profit_Status'].value_counts()

Profit_Status
Profit    2018
Loss       482
Name: count, dtype: int64

In [7]:
print(df.isnull().sum())

price                  0
cost                   0
sales                  0
profit_margin          0
inventory              0
discount_percentage    0
delivery_days          0
category               0
material               0
color                  0
location               0
season                 0
store_type             0
brand                  0
revenue                0
Profit_Status          0
dtype: int64

In [8]:
print("Duplicates:", df.duplicated().sum())

Duplicates: 0

In [9]:
print("Missing values:\n", df.isnull().sum())

Missing values:
 price                  0
cost                   0
sales                  0
profit_margin          0
inventory              0
discount_percentage    0
delivery_days          0
category               0
material               0
color                  0
location               0
season                 0
store_type             0
brand                  0
revenue                0
Profit_Status          0
dtype: int64

In [10]:
print("\nData types:\n", df.dtypes)

Data types:
 price                  float64
cost                   float64
sales                    int64
profit_margin          float64
inventory                int64
discount_percentage    float64
delivery_days            int64
category                object
material                object
color                   object
location                object
season                  object
store_type              object
brand                   object
revenue                float64
Profit_Status           object
dtype: object

In [77]:
final_path = r"C:\Users\neman\Documents\sales_data_analysis\validated\Furniture_final.csv"
df.to_csv(final_path, index=False)
print("✅ Final validated file saved at:", final_path)

✅ Final validated file saved at: C:\Users\neman\Documents\sales_data_analysis\validated\Furniture_final.csv

In [ ]:
import pandas as pd
import os

df = pd.read_csv(r"C:\Users\neman\Documents\sales_data_analysis\data\Furniture_cleaned_no_missing_values.csv")

In [59]:
os.makedirs("data", exist_ok=True)

In [60]:
new_cols = ['Profit','Profit_Margin_%','Revenue_per_Sale','Revenue_per_Inventory',
            'Unit_Cost','Is_High_Value','Price_Category','Profit_Status']

In [61]:
for c in new_cols:
    if c in df.columns:
        print(f"{c} exists. Non-null count: {df[c].notnull().sum()}")
    else:
        print(f"!!! Column missing: {c}")

Profit exists. Non-null count: 2500
Profit_Margin_% exists. Non-null count: 2500
Revenue_per_Sale exists. Non-null count: 2500
Revenue_per_Inventory exists. Non-null count: 2500
Unit_Cost exists. Non-null count: 2500
Is_High_Value exists. Non-null count: 2500
Price_Category exists. Non-null count: 2500
Profit_Status exists. Non-null count: 2500

In [62]:
print("Duplicate rows:", df.duplicated().sum())

Duplicate rows: 0

In [63]:
print("Negative price count:", (df['price'] < 0).sum())
print("Negative inventory count:", (df['inventory'] < 0).sum())

Negative price count: 0
Negative inventory count: 0

In [68]:
mismatch = df[df['Profit'] != (df['revenue'] - df['cost'])]
print("Profit mismatches:", len(mismatch))
if len(mismatch) > 0:
    display(mismatch.head())

Profit mismatches: 2339

,price,cost,sales,profit_margin,inventory,discount_percentage,delivery_days,category,material,color,...,brand,revenue,Profit,Profit_Status,Profit_Margin_%,Revenue_per_Sale,Revenue_per_Inventory,Unit_Cost,Is_High_Value,Price_Category
0,218.543054,181.610932,40,16.899243,105,27.796433,9,Bed,Plastic,Red,...,BrandA,3949.165238,3767.554307,Profit,95.401283,98.729131,37.611098,4.540273,Yes,Medium
1,477.821438,385.033827,7,19.418888,192,26.943715,6,Chair,Glass,Blue,...,BrandD,-3521.002258,-3906.036085,Loss,110.935347,-503.000322,-18.338553,55.004832,No,High
2,379.397274,276.736765,32,27.058842,59,21.948130,2,Table,Metal,Black,...,BrandD,14285.560220,14008.823450,Profit,98.062822,446.423757,242.128139,8.648024,Yes,Medium
3,319.396318,281.841334,48,11.758114,45,11.009944,2,Table,Glass,Green,...,BrandD,12261.073700,11979.232370,Profit,97.701332,255.439035,272.468304,5.871694,Yes,Medium
4,120.208388,69.743681,19,41.981019,35,3.183763,9,Chair,Glass,Brown,...,BrandD,-4588.255733,-4657.999415,Loss,101.520048,-241.487144,-131.093021,3.670720,No,Medium

In [70]:
# Recalculate Profit
df['Profit'] = df['revenue'] - df['cost']

# Round to 2 decimals to avoid tiny differences
df['Profit'] = df['Profit'].round(2)

In [71]:
# Update Profit_Status based on Profit
df.loc[df['Profit'] > 0, 'Profit_Status'] = 'Profit'
df.loc[df['Profit'] <= 0, 'Profit_Status'] = 'Loss'

In [72]:
mismatch = df[((df['Profit'] > 0) & (df['Profit_Status'] != 'Profit')) |
              ((df['Profit'] <= 0) & (df['Profit_Status'] != 'Loss'))]
print("Profit_Status mismatches after fix:", len(mismatch))

Profit_Status mismatches after fix: 0

In [73]:
print("Revenue_per_Inventory min, max:", df['Revenue_per_Inventory'].min(), df['Revenue_per_Inventory'].max())

Revenue_per_Inventory min, max: -6599.225594 23822.88993

In [74]:
mismatch_status = df[((df['Profit'] > 0) & (df['Profit_Status'] != 'Profit')) |
                     ((df['Profit'] <= 0) & (df['Profit_Status'] != 'Loss'))]
print("Profit_Status mismatches:", len(mismatch_status))

Profit_Status mismatches: 0

In [75]:
if 'Is_High_Value' in df.columns:
    print(df[df['Is_High_Value']=='Yes'].head())

        price        cost  sales  profit_margin  inventory  \
0  218.543054  181.610932     40      16.899243        105
2  379.397274  276.736765     32      27.058842         59
3  319.396318  281.841334     48      11.758114         45
5  120.197534   65.352083      6      45.629432        185
6   76.137625   64.076267     20      15.841521        165

   discount_percentage  delivery_days category material  color  ...   brand  \
0            27.796433              9      Bed  Plastic    Red  ...  BrandA
2            21.948130              2    Table    Metal  Black  ...  BrandD
3            11.009944              2    Table    Glass  Green  ...  BrandD
5            20.659352              8    Table  Plastic  Brown  ...  BrandB
6            29.359622              9     Sofa    Glass  Green  ...  BrandA

        revenue    Profit Profit_Status  Profit_Margin_%  Revenue_per_Sale  \
0   3949.165238   3767.55        Profit        95.401283         98.729131
2  14285.560220  14008.82        Profit        98.062822        446.423757
3  12261.073700  11979.23        Profit        97.701332        255.439035
5   9136.301617   9070.95        Profit        99.284699       1522.716936
6   4128.412805   4064.34        Profit        98.447920        206.420640

  Revenue_per_Inventory  Unit_Cost  Is_High_Value  Price_Category
0             37.611098   4.540273            Yes          Medium
2            242.128139   8.648024            Yes          Medium
3            272.468304   5.871694            Yes          Medium
5             49.385414  10.892014            Yes          Medium
6             25.020684   3.203813            Yes             Low

[5 rows x 23 columns]

In [78]:
df.to_csv(r"C:\Users\neman\Documents\sales_data_analysis\validated\Validated_Data_Furniture.csv", index=False)
df.to_excel(r"C:\Users\neman\Documents\sales_data_analysis\excel\Validated_Data_Furniture.xlsx", index=False)
print("Validated files saved successfully.")

Validated files saved successfully.